# Webstorm editor configuration
.idea/

# VS Code editor configuration
.vscode/

# Dependency directory
node_modules

# Coverage directory
coverage/

# Logs
*.log

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# TypeScript compiled files
**/*.js
**/*.map

# SSL
ssl/

# Dotenv file
.env
#env2 just for temporary setting configurations
.env2
.env-backup
.env-ubcgithub

# Build folder
build/*

# Exception of builds/uploads folder needed for bodyParser (without uploaded files)
!build/uploads/*

# Production Log files
ERRFILE
OUTPUT
